{% extends 'base.html'%}
{% block content %}
<h4>Cross-check the Versions</h4>
<form action="{% url 'generate_file' %}" method="post">{% csrf_token %}
<table>
{% for version_info in versions %}
    <tr>
        <td>{{version_info.name}}</td>
        <td><span class="label label-{{version_info.flag}}">{{version_info.version}}</span></td>
        <td>
            {% ifequal version_info.flag 'warning' %}
                <input type='hidden' name='pick_latest_'/>
                Pick Latest ? <input type='checkbox' name='pick_latest_{{forloop.counter0}}' vale='{{version_info.name}}${{version_info.version}}'/>
            {% else %}
                Already Latest
            {% endifequal %}
        </td>
    <tr>
{% endfor %}
</table>
<br/>
<input class='btn btn-primary' type='submit' value='Generate File'/> with name:<input type='text' value='{{default_file_name}}' name='save_file_as'/>
</form>
{% endblock %}
